/* ======================================================
       FRESHLY HOMEMADE
       BLUSH PINK & BEIGE — STAGE 1
       Global • Header • Navigation • Hero
    ====================================================== */

    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

    html{
        scroll-behavior:smooth;
    }

    body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(180deg,#FFF9FA,#FCECEF,#F7ECE4,#FFF9FA);
    color:#4F4143;
    line-height:1.6;
}

    /* HEADER */

    header{
        position:sticky;
        top:0;
        z-index:999;
        background:rgba(255,247,249,.96);
        box-shadow:0 4px 24px rgba(132,86,96,.10);
        border-bottom:1px solid #F1D9DF;
    }

    nav{
        max-width:1400px;
        margin:auto;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:16px 40px;
    }

    .logo{
        display:flex;
        align-items:center;
        gap:15px;
    }

    .logo img{
        width:70px;
        height:70px;
        object-fit:contain;
        background:#FFFDFD;
        border-radius:50%;
        padding:3px;
        border:2px solid #E8C8CF;
        box-shadow:0 6px 18px rgba(150,101,111,.12);
    }

    .logo h1{
        color:#8C5D67;
        font-size:30px;
    }

    .logo span{
        display:block;
        color:#B68A7A;
        font-size:14px;
    }

    nav ul{
        display:flex;
        list-style:none;
        gap:35px;
    }

    nav ul li a{
        position:relative;
        text-decoration:none;
        color:#5B484C;
        font-weight:bold;
        transition:color .3s ease;
    }

    nav ul li a::after{
        content:"";
        position:absolute;
        left:0;
        bottom:-7px;
        width:0;
        height:2px;
        background:#D79AA8;
        transition:width .3s ease;
    }

    nav ul li a:hover{
        color:#B56F80;
    }

    nav ul li a:hover::after{
        width:100%;
    }

    /* HERO */

    .hero{
        max-width:1200px;
        margin:auto;
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap:40px;
        padding:40px 40px;
        position:relative;
    }

    .hero::before{
        content:"";
        position:absolute;
        inset:10px;
        z-index:-1;
        border-radius:38px;
        background:
            radial-gradient(circle at 88% 18%,rgba(232,190,200,.34),transparent 28%),
            radial-gradient(circle at 10% 88%,rgba(222,201,184,.35),transparent 27%),
            linear-gradient(135deg,#FFF8FA 0%,#FCECEF 52%,#F6EAE2 100%);
        border:1px solid rgba(220,178,187,.38);
    }

    .hero-content{
        flex:1;
        padding:20px 0;
    }
.hero-location{
    color:#B56F80;
    font-size:18px;
    font-weight:bold;
    margin-bottom:15px;
    letter-spacing:.5px;
}

    .hero-content h2{
        max-width:650px;
        font-size:46px;
        line-height:1.12;
        color:#6F4C54;
        margin-bottom:15px;
        letter-spacing:-.8px;
    }

    .hero-content p{
        max-width:650px;
        font-size:18px;
        color:#746366;
        margin-bottom:20px;
    }

    .hero-btn{
    display:inline-block;
    margin-top:12px;
    padding:16px 38px;
    background:linear-gradient(135deg,#D996A6,#B97886);
    color:#fff;
    text-decoration:none;
    font-size:17px;
    font-weight:700;
    border-radius:50px;
    letter-spacing:.4px;
    box-shadow:0 15px 35px rgba(185,120,134,.30);
    transition:all .35s ease;
}

.hero-btn:hover{
    transform:translateY(-5px) scale(1.04);
    box-shadow:0 22px 45px rgba(185,120,134,.45);
}

    /* HERO SLIDER */

    .hero-slider{
    flex:0 0 280px;
    position:relative;
    width:280px;
    height:280px;
    margin:auto;
    overflow:hidden;
    border-radius:50%;
    border:8px solid transparent;
    background:
        linear-gradient(#FFFDFD,#FFFDFD) padding-box,
        linear-gradient(135deg,#F3B7C5,#E8C7A7,#D89AA8) border-box;
    box-shadow:
        0 20px 45px rgba(185,120,134,.22),
        0 0 35px rgba(236,179,193,.35);
}

    .hero-slider img{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit:contain;
        background:#FFFDFD;
        border-radius:50%;
        opacity:0;
        transition:opacity .8s ease-in-out;
    }

    .hero-slide.active{
        opacity:1;
    }


    /* ======================================================

    PART 2

    ABOUT • WHY US • GALLERY • PRODUCTS

    ====================================================== */



    /* ABOUT */



    .about{
    padding:110px 40px;
    background:linear-gradient(180deg,#FFF8FA,#FCECEF,#FFF8F5);
    text-align:center;
}

.about h2{
    font-size:44px;
    color:#8C5D67;
    margin-bottom:25px;
}

.about p{
    max-width:900px;
    margin:18px auto;
    font-size:18px;
    color:#6E6466;
    line-height:2;
}

.about-features{
    margin-top:60px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
}

.feature{
    background:#fff;
    padding:35px;
    border-radius:24px;
    box-shadow:0 15px 35px rgba(185,120,134,.12);
    transition:.35s;
}

.feature:hover{
    transform:translateY(-10px);
    box-shadow:0 25px 50px rgba(185,120,134,.24);
}

.feature h3{
    color:#B56F80;
    margin-bottom:18px;
}

.feature p{
    color:#666;
}



    /* WHY CHOOSE US */



    .why-us{
    padding:110px 40px;
    background:#FFFDFD;
    text-align:center;
}

.why-us h2{
    font-size:44px;
    color:#8C5D67;
    margin-bottom:55px;
}

.why-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
}

.why-card{
    background:linear-gradient(180deg,#FFF9FA,#FFF3F6);
    border-radius:25px;
    padding:40px 30px;
    box-shadow:0 15px 35px rgba(185,120,134,.12);
    transition:.35s;
}

.why-card:hover{
    transform:translateY(-10px);
    box-shadow:0 28px 55px rgba(185,120,134,.25);
}

.why-card h3{
    color:#B56F80;
    margin-bottom:18px;
}

.why-card p{
    color:#666;
}



    /* GALLERY */



    .gallery{

    padding:90px 40px;

    background:#FDF0F3;

    text-align:center;

    }



    .gallery h2{

    font-size:42px;

    color:#8B5E3C;

    margin-bottom:45px;

    }



    .gallery-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

    }



    .gallery img{
    width:100%;
    height:140px;
    object-fit:contain;
    background:#fff;
    padding:12px;
    border-radius:18px;
    box-shadow:0 12px 30px rgba(185,120,134,.12);
    transition:.35s;
}

.gallery img:hover{
    transform:scale(1.08);
}



    /* PRODUCTS */



    .product-card{
    background:#fff;
    border-radius:28px;
    overflow:hidden;
    padding:14px;
    text-align:center;
    box-shadow:0 18px 45px rgba(185,120,134,.12);
    transition:.35s;
}

.product-card:hover{
    transform:translateY(-12px);
    box-shadow:0 30px 60px rgba(185,120,134,.28);
}



    /* ======================================================

    PART 3A

    PRODUCT CARDS + PRICE + BUTTONS

    ====================================================== */



    .products-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:18px;
    align-items:start;
}
@media (max-width:1200px){
    .products-grid{
        grid-template-columns:repeat(4,1fr);
    }
}

@media (max-width:900px){
    .products-grid{
        grid-template-columns:repeat(3,1fr);
    }
}

@media (max-width:650px){
    .products-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media (max-width:420px){
    .products-grid{
        grid-template-columns:1fr;
    }
}



    .product-card{

    background:#ffffff;

    border-radius:22px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.35s;

    text-align:center;

    padding:20px;

    }



    .product-card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 35px rgba(0,0,0,.15);

    }



    .product-card img{
    width:160px;
    height:160px;
    margin:0 auto 15px;
    display:block;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #F2D6DD;
    background:#FFF8FA;
    padding:6px;
}

.product-card:hover img{
    transform:scale(1.08);
}



    .product-card h3{
    color:#8C5D67;
    margin-top:20px;
    font-size:24px;
}



    .product-card p{

    color:#666;

    margin-top:12px;

    line-height:1.7;

    font-size:15px;

    }



   .price{
    margin-top:20px;
    padding-top:18px;
    border-top:1px solid #F3D8DE;
}

.price p{
    margin:8px 0;
    color:#B56F80;
    font-weight:bold;
    font-size:18px;
}



    .price{
    margin-top:20px;
    padding-top:18px;
    border-top:1px solid #F3D8DE;
}

.price p{
    margin:8px 0;
    color:#B56F80;
    font-weight:bold;
    font-size:18px;
}



    /* PRODUCT BUTTONS */



    .product-buttons{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:15px;
}



    .product-buttons a{
    width:180px;
    padding:11px;
    border-radius:40px;
    font-size:14px;
    font-weight:bold;
    transition:.35s;
}



   .whatsapp-btn{
    background:linear-gradient(135deg,#25D366,#1BA94C);
    width:60%;
margin:0 auto;
display:block;
font-size:14px;
padding:10px;
}



    .whatsapp-btn:hover{

    background:#1EBE5D;

    }



    .facebook-btn{
    background:linear-gradient(135deg,#3B82F6,#1E5FD4);
   width:60%;
margin:0 auto;
display:block;
font-size:14px;
padding:10px;
}



    .facebook-btn:hover{

    background:#0D65D9;

    }



    .instagram-btn{

    background:#E1306C;
    width:70%;
margin:0 auto;
display:block;
font-size:14px;
padding:10px;

    }



    .instagram-btn:hover{

    background:#C13584;

    }



    /* ======================================================

    PART 3B

    CONTACT • FOOTER • RESPONSIVE

    ====================================================== */



    /* CONTACT */



    .contact{
    padding:110px 40px;
    background:linear-gradient(180deg,#FFF7F9,#FCECEF,#FFF8F5);
    text-align:center;
}

.contact h2{
    font-size:44px;
    color:#8C5D67;
    margin-bottom:20px;
}

.contact p{
    max-width:720px;
    margin:0 auto 35px;
    color:#6E6466;
    font-size:18px;
    line-height:1.9;
}



   .contact-btn{
    display:inline-block;
    background:linear-gradient(135deg,#D996A6,#B97886);
    color:#fff;
    text-decoration:none;
    padding:16px 38px;
    border-radius:50px;
    font-weight:bold;
    transition:.35s;
    box-shadow:0 12px 28px rgba(185,120,134,.25);
}

.contact-btn:hover{
    background:linear-gradient(135deg,#C78394,#A96676);
    transform:translateY(-3px);
}



    /* FOOTER */



    .footer{
    background:linear-gradient(180deg,#8C5D67,#6F4C54);
    color:#fff;
    text-align:center;
    padding:60px 20px;
}

.footer h2{
    margin-bottom:18px;
    font-size:30px;
    color:#ffffff;
}

.footer p{
    color:#F7EDEE;
    margin-bottom:15px;
}


    .social-links{
    margin:30px 0;
}

.social-links a{
    color:#FFE6EC;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
    transition:.3s;
}

.social-links a:hover{
    color:#FFD2DD;
}



    .copyright{
    margin-top:25px;
    font-size:14px;
    color:#F8DCE2;
}



    /* RESPONSIVE */



    @media(max-width:992px){



    .hero{

    flex-direction:column;

    text-align:center;

    }



    .about-features,

    .why-container,

    .gallery-container,

    .products-grid{

    grid-template-columns:repeat(2,1fr);

    }



    }



    @media(max-width:768px){



    nav{

    flex-direction:column;

    gap:20px;

    }



    nav ul{

    flex-wrap:wrap;

    justify-content:center;

    }



    .hero-content h2{

    font-size:38px;

    }



    .about h2,

    .gallery h2,

    .products h2,

    .why-us h2,

    .contact h2{

    font-size:34px;

    }



    .about-features,

    .why-container,

    .gallery-container,

    .products-grid{

    grid-template-columns:1fr;

    }



    .product-card img{

    height:180px;

    }



    .logo img{

    width:60px;

    height:60px;

    }



    }

    /* ===========================

    CART ICON

    =========================== */



    .cart-icon{



    position:fixed;



    top:25px;



    right:25px;



    width:65px;



    height:65px;



    background:linear-gradient(135deg,#C89B3C,#E8C76A);



    border:none;



    border-radius:50%;



    color:#fff;



    font-size:28px;



    display:flex;



    justify-content:center;



    align-items:center;



    cursor:pointer;



    box-shadow:0 10px 30px rgba(0,0,0,.25);



    z-index:9999;



    transition:.3s;



    }



    .cart-icon:hover{



    transform:scale(1.08);



    }



    #cartCount{



    position:absolute;



    top:-6px;



    right:-6px;



    background:#B22222;



    color:#fff;



    width:24px;



    height:24px;



    border-radius:50%;



    display:flex;



    justify-content:center;



    align-items:center;



    font-size:12px;



    font-weight:bold;



    }



    /* ===========================

    CART PANEL

    =========================== */



    .cart-panel{



    position:fixed;



    top:0;



    right:-420px;



    width:380px;



    height:100vh;



    background:#fff;



    box-shadow:-5px 0 25px rgba(0,0,0,.15);



    padding:25px;



    transition:.4s;



    z-index:9998;



    overflow-y:auto;



    }



    .cart-panel.active{



    right:0;



    }



    /* ===========================

    CART HEADER

    =========================== */



    .cart-header{



    display:flex;



    justify-content:space-between;



    align-items:center;



    margin-bottom:20px;



    }



    .cart-header button{



    border:none;



    background:none;



    font-size:28px;



    cursor:pointer;



    }



    /* ===========================

    CART ITEM

    =========================== */



    .cart-item{



    padding:15px 0;



    border-bottom:1px solid #ddd;



    }



    .cart-item h4{



    margin-bottom:8px;



    }



    .remove-btn{



    margin-top:10px;



    background:#b22222;



    color:white;



    border:none;



    padding:8px 14px;



    border-radius:8px;



    cursor:pointer;



    }



    /* ===========================

    CART FOOTER

    =========================== */



    .cart-footer{



    margin-top:25px;



    }



    .checkout-btn{



    width:100%;



    padding:15px;



    background:#C89B3C;



    color:white;



    border:none;



    border-radius:10px;



    font-size:16px;



    font-weight:bold;



    cursor:pointer;



    transition:.3s;



    }



    .checkout-btn:hover{



    background:#b5892d;



    }

    .cart-btn{
    background:linear-gradient(135deg,#E5A4B2,#B97886);
    color:#fff;
    border:none;
    border-radius:40px;
    padding:12px 18px;
    font-weight:bold;
    transition:.35s;
    cursor:pointer;
    width:50%;
    margin:0 auto;
display:block;
font-size:14px;
padding:10px;
}

.cart-btn:hover{
    background:linear-gradient(135deg,#C78394,#A96676);
    transform:translateY(-3px);
}



    /* ===========================

    QUANTITY BUTTONS

    =========================== */



    .qty-box{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    margin:12px 0;

    }



    .qty-box button{

    width:34px;

    height:34px;

    border:none;

    border-radius:50%;

    background:#C89B3C;

    color:#fff;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

    }



    .qty-box button:hover{

    background:#b5892d;

    }



    .qty-box span{

    font-size:18px;

    font-weight:bold;

    min-width:25px;

    text-align:center;

    }

    .products h2{
    text-align:center;
    width:fit-content;
    margin:0 auto 40px;
    font-size:26px;
    font-weight:700;
    color:#8C5D67;
    background:linear-gradient(135deg,#FCECEF,#FFF8F5);
    padding:9px 20px;
    border-radius:35px;
    border:2px solid #E7C5CD;
    box-shadow:0 8px 18px rgba(185,120,134,.18);
    letter-spacing:.3px;
}
.price select{

    width:60%;

    display:block;

    margin:0 auto 15px;

    padding:10px 16px;

    border:none;

    border-radius:30px;

    background:linear-gradient(135deg,#F8D7DF,#EFBBC7);
    

    color:#8C5D67;

    font-size:12px;

    font-weight:600;

    cursor:pointer;

    outline:none;

    box-shadow:0 6px 16px rgba(185,120,134,.18);

    transition:all .3s ease;

   

}

.price select:hover{

    transform:translateY(-2px);

    box-shadow:0 10px 24px rgba(185,120,134,.28);

}

.price select:focus{

    border:2px solid #B97886;

    box-shadow:0 0 0 4px rgba(185,120,134,.15);

}

.price select option{

    background:#FFF8FA;

    color:#8C5D67;

    font-weight:600;

}
.footer-bottom{
    text-align:center;
    color:#000000;
    font-size:14px;
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,.15);
}
@media (max-width:768px){

.hero{
    padding:60px 20px;
}

.hero-content{
    flex-direction:column;
    text-align:center;
    gap:35px;
}

.hero-left,
.hero-right{
    width:100%;
}

.hero-left h1{
    font-size:36px;
    line-height:1.2;
}

.hero-left p{
    font-size:17px;
    max-width:100%;
}

.hero-location{
    font-size:16px;
}

.hero-slider img{
    width:100%;
    max-width:340px;
    margin:auto;
    border-radius:25px;
}

}
@media (max-width:768px){

.products{
    padding:60px 20px;
}

.products-grid{
    grid-template-columns:1fr;
    gap:30px;
}

.product-card{
    max-width:380px;
    margin:0 auto;
    padding:20px;
}

.product-card img{
    width:150px;
    height:150px;
}

.price select{
    width:65%;
    font-size:14px;
}

.whatsapp-btn,
.facebook-btn,
.cart-btn{
    width:80%;
    margin:0 auto;
}

}
@media (max-width:768px){

.gallery{
    padding:60px 20px;
}

.gallery-grid{
    grid-template-columns:1fr;
    gap:20px;
}

.gallery-grid img{
    width:100%;
    border-radius:22px;
}

.footer{
    padding:50px 20px;
    text-align:center;
}

.footer-content{
    display:flex;
    flex-direction:column;
    gap:25px;
    align-items:center;
}

.footer h2{
    font-size:28px;
}

.footer p{
    font-size:15px;
    line-height:1.8;
}

.footer-social{
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.footer-bottom{
    font-size:13px;
    margin-top:20px;
}

}